<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTeamsPage"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MyPublication"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.AccountOptions"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.General"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.Notification"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.Security"
            android:exported="false" />
        <activity
            android:name=".Activities.PublicationScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPassword.CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPassword.ConfirmCode"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPassword.ForgotPWD"
            android:exported="false" />
        <activity
            android:name=".Activities.ComposeTweet"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAccount.SetNotifications"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAccount.CompleteYourProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAccount.Create_your_team_register"
            android:exported="false" />
        <activity
            android:name=".Activities.Logo_KickOff"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ForgotPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAccount.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ScheduleGameScreen2"
            android:exported="false" />
        <activity
            android:name=".Activities.ScheduleGame"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomePageActivity"
            android:exported="false" />
    </application>
</manifest>